@import url(base.css);
.bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('../img/back.png') no-repeat center ;
	background-size: 7.5rem 13.34rem; 
}
.shengyin{
	width: 5.9rem;
	height: 2.34rem;
	margin: 2.92rem auto 0;
}
.shengyin img{
	display: block;
	width: 5.9rem;
	height: 2.34rem;
}
p{
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.22rem;
	font-family: "苹方";
	color: #a9adab;
	margin-top: 0.2rem;
}
button{
	display: block;
	width: 3.57rem;
	height: 0.7rem;
	border-radius: 0.35rem;
	margin: 4.68rem auto 0;
	outline: none;
	border: none;
	box-shadow: 0 0.05rem 0.2rem 0.05rem rgba(225, 206, 55, 0.3);
	background-image: -webkit-linear-gradient(top,#ffce37,#ffab32);
	background-image: -moz-linear-gradient(top,#ffce37,#ffab32);
	background-image: -ms-linear-gradient(top,#ffce37,#ffab32);
	background-image: -o-linear-gradient(top,#ffce37,#ffab32);
	background-image: linear-gradient(top,#ffce37,#ffab32);
}
button a{
	display: block;
	width: 3.57rem;
	height: 0.7rem;
	border-radius: 0.35rem;
	line-height: 0.7rem;
	font-size: 0.24rem;
	color: #ffffff;
	font-family: "苹方";
	text-align: center;
	
}
